#featured-tabber
  #info
    .tabber-post-content.tabber-item-1
      .img
        %a{:href => "http://www.grumpiverse.com/?p=1", :title => "Permanent Link to Poor People"}
          %img.thumbnail{:alt => "Poor People", :src => "http://www.grumpiverse.com/wp-content/themes/groovyblog/thumb.php?src=http://www.grumpiverse.com/wp-content/uploads/1-lindsay_cathedral.png&h=&w=480&zc=1&q=90"}/
      .tabber-post
        %h2
          = link_to @featured_article.title, @featured_article
        %p.byline
          = image_tag @featured_article.author.avatar.url(:tiny)
          by
          = link_to @featured_article.author.name, @featured_article.author
        %p.meta
          %span.date= @featured_article.published_at.to_s :full_pretty
        .text
          = @featured_article.render_body
      .clear
  .clear
  .bottom
#recent
  %h3.title-recent Latest Grumps
  - @recent_grumps.each do |article|
    %div{:class => "item #{'last' if article == @recent_grumps.last}"}
      %h4
        = link_to article.title, article
      = link_to article_path(article) do
        = image_tag article.author.avatar.url(:small), :class => "thumbnail"
      = article.render_body
  .clear