- content_for :extra_meta do
  %meta{:property => "og:title", :content => "The Grumpiverse" }/
  %meta{:property => "og:type", :content => "website" }/
  %meta{:property => "og:url", :content => root_url }/
  %meta{:property => "og:image", :content => "http://localhost/images/header.png" }/
  %meta{:property => "og:description", :content =>"Home to all things grumpy!  Which, given the state of the world, means just about everything.  Come on in!" }/

.col-left
  #main.single
    - @articles.each do |article|
      .box3-top
      .post.wrap
        .article
          %h2
            = link_to article.title, article
          %p.meta
            %span.date= article.published_at.to_s :full_pretty
          .text
            = article.render
          .social  
            %h3= sharing_phrase(article)
            = tweet_this :url => article_url(article), :text => "#{truncate(article.title, :length => 50)}"
            = fb_like :href => article_url(article)
            %div.digg-reddit
              %div.digg-left
                = link_to "", article_url(article), :class => "DiggThisButton DiggCompact"
              %script{:type => "text/javascript", :src => "http://reddit.com/static/button/button1.js", :url => article_url(article)}
          = link_to "Comments &raquo;".html_safe, article_path(article, :anchor => "comments"), :class => "comments"
      .box3-bot
    = link_to "Archived Comics &raquo;".html_safe, archive_path, :id => "index-article-link"
#sidebar.col-right
  = render :partial => "/shared/sidebar"