.col-left
  #main.single
    - @articles.each do |article|
      .box3-top
      .post.wrap
        .article
          %h2
            = link_to article.title, article
          %p.meta
            %span.date= article.published_at.to_s :full_pretty
          .text
            = article.render
          %h3.community Share
          .social
            = tweet_this :url => article_url(article)
            = fb_like :href => article_url(article)
          = link_to "Comments &raquo;".html_safe, article_path(article, :anchor => "comments"), :class => "comments"
      .box3-bot


