%div
  = f.label :slug
  = f.text_field :slug
  = f.error_message_on :slug

%div
  = f.label :body
  = f.text_area :body
  = f.error_message_on :body

= render :partial => "/shared/seo_fields", :locals => { :f => f }
