%div
  = f.label :tweet
  = f.text_area :tweet
  = f.error_message_on :tweet

%div
  = f.label :character_id
  = f.select :character_id, options_from_collection_for_select(Character.all, :id, :name, f.object.character_id), :include_blank => "Grumpiverse Main Account"
  = f.error_message_on :character_id

%div
  = f.label :scheduled_for_publication_at
  = f.datetime_select :scheduled_for_publication_at
  = f.error_message_on :scheduled_for_publication_at

