%li
  - if tweet.character
    = image_tag tweet.character.avatar.url(:thumb)
  - unless tweet.tweeted?
    .actions
      = link_to "Edit", edit_admin_tweet_path(tweet), :class => "edit"
      = link_to "Delete", admin_tweet_path(tweet), :method => :delete, :confirm => "Are you sure you wish to delete this tweet? This cannot be undone.", :class => "delete"
  .title= link_to tweet.tweet, admin_tweet_path(tweet)
  .author
    from
    - if tweet.character
      = link_to tweet.character.name, admin_character_path(tweet.character)
    - else
      the Grumpiverse
  .status
    - if tweet.tweeted?
      Tweeted at
      = tweet.tweeted_at.to_s :time_only
    - else
      Scheduled for
      = tweet.scheduled_for_publication_at.to_s :time_only
  .clear