- if @tweets.empty?
  %p 
    No tweets!  
    = link_to "Better get to work.", new_admin_tweet_path
- else
  - @tweets.group_by(&:scheduled_publication_day).each do |day, tweets|
    %h3= day
    %ul.tweets
      = render tweets
      
  = will_paginate @tweets if @tweets.respond_to? :total_pages

- content_for :sidebar do
  = link_to "Add Tweet", new_admin_tweet_path, :class => "add"
  %p
    - if action_name == "index"
      = link_to "Tweeted tweets", tweeted_admin_tweets_path
    - else
      = link_to "Upcoming tweets", admin_tweets_path