%div
  = f.label :title
  = f.text_field :title
  = f.error_message_on :title

%div
  = f.label :character_ids, "Featuring"
  = f.select :character_ids, options_from_collection_for_select(Character.all, :id, :name, f.object.character_ids), {}, :multiple => true
  = f.error_message_on :character_ids

%div
  = f.label :main_comic_id
  = f.select :main_comic_id, options_for_select(Comic.recent.map{|c|[c.alt_text,c.id]}, f.object.main_comic_id)
  = f.error_message_on :main_comic_id

%div
  = f.text_area :body
  = f.error_message_on :body
  
= render :partial => "/shared/seo_fields", :locals => { :f => f }