%div
  = f.label :title
  = f.text_field :title
  = f.error_message_on :title

%div
  = f.label :author_code, "by"
  = f.select :author_code, grouped_options_for_select(article_author_grouped_options, f.object.author_code)
  = f.error_message_on :author_code

%div
  = f.label :main_comic_id
  = f.select :main_comic_id, options_for_select(Comic.recent.map{|c|[c.alt_text,c.id]})
  = f.error_message_on :main_comic_id

%div
  = f.text_area :body
  = f.error_message_on :body
  
%div
  = f.label :long_excerpt
  = f.text_area :long_excerpt
  = f.error_message_on :long_excerpt

%div
  = f.label :short_excerpt
  = f.text_area :short_excerpt
  = f.error_message_on :short_excerpt
