= form_for [:admin, @article] do |f|
  = render :partial => "/admin/articles/form", :locals => { :f => f }
  = f.submit
  = link_to "Cancel", admin_article_path(@article)

- content_for :sidebar do
  = link_to "Back", admin_article_path(@article), :class => "back"
  
  = render :partial => "/admin/articles/recent_comics"
