- if @drafts.empty? && @scheduled_articles.empty?
  %p 
    No articles drafted or upcoming!  
    = link_to "Better get to work.", new_admin_article_path

- unless @drafts.empty?
  %h3 Drafts
  %ul.articles
    = render @drafts
  .clear
  
- @scheduled_articles.group_by(&:scheduled_publication_day).sort{|x,y|x[0]<=>y[0]}.each do |day, articles|
  %h3= day.to_s :pretty
  %ul.articles
    = render articles.sort{|x,y|x.scheduled_for_publication_at <=> y.scheduled_for_publication_at}
  .clear


- content_for :sidebar do
  = link_to "Draft a new article", new_admin_article_path, :class => "add"
  %p
    = link_to "Published articles", published_admin_articles_path
    |
    = link_to "All articles", all_admin_articles_path
