.article
  %h2= @article.title
  = @article.render

%a{:name => "comments"}
.social
  %h3= sharing_phrase(@article)
  = tweet_this :text => "Grumpiverse: #{truncate(@article.title, :length => 50)}"
  = render :partial => "/shared/facebook_comments"

.article-navigation
  = link_to "Up next: #{@article.next.title} &raquo;".html_safe, @article.next, :class => "next-article" if @article.next
  = link_to " &laquo; Previous: #{@article.previous.title}".html_safe, @article.previous, :class => "previous-article" if @article.previous
  .clear