- content_for :additional_ads do
  %script{:type=>'text/javascript'}
    GA_googleAddSlot("ca-pub-6399676543813921", "Grumpiverse_ArticleBottom");

- content_for :extra_meta do
  %meta{:property => "og:title", :content => @article.title }/
  %meta{:property => "og:type", :content => "article" }/
  %meta{:property => "og:url", :content => article_url(@article) }/
  - if @article.main_comic
    %meta{:property => "og:image", :content => @article.main_comic.image.url(:main) }/
  %meta{:property => "og:description", :content => @meta_description.blank? ? Sanitize.clean(@article.render) : @meta_description }/

.article
  %h2= @article.title
  %p.meta
    %span.date= @article.published_at.to_s :full_pretty
  = @article.render
  
  #article-ad
    %script{:type=>'text/javascript'}
      GA_googleFillSlot("Grumpiverse_ArticleBottom");

%a{:name => "comments"}
.social
  %h3= sharing_phrase(@article)
  = tweet_this :text => "#{truncate(@article.title, :length => 50)}"
  = fb_like
  %div.digg-reddit
    %div.digg-left
      = link_to "", "", :class => "DiggThisButton DiggCompact"
    %script{:type => "text/javascript", :src => "http://reddit.com/static/button/button1.js" }
    
.article-navigation
  = link_to "Up next: #{@article.next.title} &raquo;".html_safe, @article.next, :class => "next-article" if @article.next
  = link_to " &laquo; Previous: #{@article.previous.title}".html_safe, @article.previous, :class => "previous-article" if @article.previous
  .clear