- content_for :additional_ads do
  %script{:type=>'text/javascript'}
    GA_googleAddSlot("ca-pub-6399676543813921", "Grumpiverse_ArticleBottom");

.article
  %h2= @article.title
  %p.meta
    %span.date= @article.published_at.to_s :full_pretty
  = @article.render
  
  #article-ad
    %script{:type=>'text/javascript'}
      GA_googleFillSlot("Grumpiverse_ArticleBottom");

%a{:name => "comments"}
.social
  %h3= sharing_phrase(@article)
  = tweet_this :text => "#{truncate(@article.title, :length => 50)}"
  = render :partial => "/shared/facebook_comments"

.article-navigation
  = link_to "Up next: #{@article.next.title} &raquo;".html_safe, @article.next, :class => "next-article" if @article.next
  = link_to " &laquo; Previous: #{@article.previous.title}".html_safe, @article.previous, :class => "previous-article" if @article.previous
  .clear