%p SEO Fields

= f.fields_for :seo, f.object.seo || f.object.build_seo do |seo|
  %div.seo_title
    = seo.label :title
    = seo.text_field :title
    = seo.error_message_on :title

  %div.seo_keywords
    = seo.label :keywords
    = seo.text_field :keywords
    = seo.error_message_on :keywords

  %div
    = seo.label :description
    = seo.text_area :description, :class => "seo_description"
    = seo.error_message_on :description
