= link_to "", "http://www.facebook.com/pages/Grumpiverse/147009798662853", :id => "fb-sidebar", :class => "track-events", :"data-event-category" => "Sidebar Promotions", :"data-event-action" => "Click", :"data-event-label" => "Facebook"
= link_to "", "http://twitter.com/grumpiverse", :id => "tw-sidebar", :class => "track-events", :"data-event-category" => "Sidebar Promotions", :"data-event-action" => "Click", :"data-event-label" => "Twitter"
= link_to "or follow the whole cast!", "http://twitter.com/grumpiverse/lists/cast", :id => "tw-cast-sidebar", :class => "track-events", :"data-event-category" => "Sidebar Promotions", :"data-event-action" => "Click", :"data-event-label" => "Twitter-Cast"
= link_to "", "http://www.grumpygrams.com", :id => "gg-sidebar", :class => "track-events", :"data-event-category" => "Sidebar Promotions", :"data-event-action" => "Click", :"data-event-label" => "GrumpyGrams"

#sidebar-ad
  = render :partial => "/layouts/sidebar_ad"

%h3.archives Archives
%ul.archives
  - archive_links.each do |link|
    %li
      = link_to "#{link[:name]} (#{link[:count]})", archive_path(:year => link[:year], :month => link[:month])