- content_for :extra_meta do
  %meta{:property => "og:title", :content => @character.name }/
  %meta{:property => "og:type", :content => "article" }/
  %meta{:property => "og:url", :content => character_url(@character) }/
  %meta{:property => "og:image", :content => @character.picture.url }/
  %meta{:property => "og:description", :content => Sanitize.clean(@character.render_description) }/

.character-left
  = image_tag @character.picture.url, :class => "character"

  / TODO:  Add in a twitter icon, make pretty!
  .follow-links
    = link_to "Follow #{@character.name} on Twitter", "http://twitter.com/#{@character.twitter_handle}"
    %br
    or
    = link_to "follow the cast!", "http://twitter.com/grumpiverse/lists/cast"
  
    %br
    = link_to image_tag(@character.gram.url(:thumb)), "http://www.grumpygrams.com/#send-#{@character.friendly_id}"
    %br
    = link_to "http://www.grumpygrams.com/#send-#{@character.friendly_id}" do
      Send your Facebook friends a
      %br
      = @character.name
      GrumpyGram!
    %br
    / TODO: Make this a pretty button, implement shop
    /
      = link_to "Buy a #{@character.name} t-shirt!", "#"
  
.character-right
  = link_to "&laquo; Back to the Cast".html_safe, cast_path, :class => "back"
  
  %h1= @character.name
  = @character.render_description

  .clear
  
  - unless @recent_articles.empty?
    %h3 Recently Featured In...
    %ul.articles
      - @character.articles.published.limit(5).each do |article|
        %li
          - if article.main_comic
            = link_to image_tag(article.main_comic.image.url(:thumb)), article
          .title= link_to article.title, article
          .date= article.published_at.to_s(:full_pretty)
          .clear
    .clear
    
.social
  %h3= sharing_phrase(@character)
  = tweet_this :follow => @character.twitter_handle
  = fb_like
  
.character-navigation
  = link_to "#{(@character.next || Character.all.first).name} &raquo;".html_safe, (@character.next || Character.all.first), :class => "next-character" 
  = link_to "&laquo; #{(@character.previous || Character.all.last).name}".html_safe, (@character.previous || Character.all.last), :class => "previous-character" 
  .clear

