.character-left
  = image_tag @character.picture.url, :class => "character"

  / TODO:  Add in a twitter icon, make pretty!
  .follow-links
    = link_to "Follow #{@character.name} on Twitter", "http://twitter.com/#{@character.twitter_handle}"
    %br
    or
    = link_to "follow the cast!", "http://twitter.com/grumpiverse/lists/cast"
  
    %br
    = link_to image_tag(@character.gram.url(:thumb)), "http://www.grumpygrams.com/#send_#{@character.friendly_id}"
    %br
    = link_to "http://www.grumpygrams.com/#send-#{@character.friendly_id}" do
      Send your Facebook friends a
      %br
      = @character.name
      GrumpyGram!
    %br
    / TODO: Make this a pretty button, implement shop
    /
      = link_to "Buy a #{@character.name} t-shirt!", "#"
  
.character-right
  = link_to "Back to the characters", cast_path, :class => "back"
  
  %h1= @character.name
  = @character.render_description

  .clear
  
  - unless @recent_articles.empty?
    %h3 Recently Featured In...
    %ul.articles
      - @character.articles.published.limit(5).each do |article|
        %li
          - if article.main_comic
            = link_to image_tag(article.main_comic.image.url(:thumb)), article
          .title= link_to article.title, article
          .date= article.published_at.to_s(:full_pretty)
          .clear
    .clear
    
.social
  %h3= sharing_phrase(@character)
  = tweet_this :follow => @character.twitter_handle
  = render :partial => "/shared/facebook_comments"
  
.character-navigation
  = link_to "Up next: #{@character.next.name} &raquo;".html_safe, @character.next, :class => "next-character" if @character.next
  = link_to " &laquo; Previous: #{@character.previous.name}".html_safe, @character.previous, :class => "previous-character" if @character.previous
  .clear

