- if @characters.empty?
  %p
    There are no characters here!
- else
  %table
    %tr
      %th Title
      %th Modified
      %th Actions
    - @characters.each do |character|
      %tr
        %td= link_to character.name, admin_character_path(character)
        %td
          = distance_of_time_in_words_to_now character.updated_at
          ago
        %td.actions
          = link_to "Edit", edit_admin_character_path(character), :class => "edit"
          = link_to "Delete", admin_character_path(character), :method => :delete, :confirm => "Are you sure you wish to delete this character? This cannot be undone.", :class => "delete"

- content_for :sidebar do
  = link_to "Add Character", new_admin_character_path, :class => "add"
