= form_for [:admin, @gram] do |f|
  = render :partial => "/admin/grams/form", :locals => { :f => f }
  = f.submit
  = link_to "Cancel", admin_grams_path

- content_for :sidebar do
  = link_to "Back", admin_grams_path, :class => "back"
