= form_for [:admin, @snippet] do |f|
  = render :partial => "/admin/snippets/form", :locals => { :f => f }
  = f.submit
  = link_to "Cancel", admin_snippets_path

- content_for :sidebar do
  = link_to "Back", admin_snippets_path, :class => "back"
