%h2= @snippet.name

= @snippet.render

- content_for :sidebar do
  = link_to "Back", admin_snippets_path, :class => "back"
  = link_to "Edit", edit_admin_snippet_path(@snippet), :class => "edit"
  = link_to "Delete", admin_snippet_path(@snippet), :method => :delete, :confirm => "Are you sure?", :class => "delete"
