= form_for [:admin, @comic] do |f|
  = render :partial => "/admin/comics/form", :locals => { :f => f }
  = f.submit
  = link_to "Cancel", admin_comics_path

- content_for :sidebar do
  = link_to "Back", admin_comics_path, :class => "back"
