!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head{:profile => "http://gmpg.org/xfn/11"}
    %title
      Grumpiverse
    / TODO Add a favicon to the repo
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "description", :content => "Post little pictures of some very grumpy individuals on a sad friend's wall to cheer them up!"}
    %meta{:name => "keywords", :content => "grumpygrams, grumpygram, grumpiverse, grumpy, ecard, egram, gram"}
    / TODO:  Use AssetPackager or Jammit to concat into one CSS file?
    = stylesheet_link_tag "scaffold", "admin"
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    = javascript_include_tag "rails", "admin", "application"
    = csrf_meta_tag
  %body  
    = display_flash :notice, :alert
    %ul#navigation
      %li= link_to "Comics", admin_comics_path
      %li= link_to "Characters", admin_characters_path
      %li= link_to "Sign Out", destroy_user_session_path

    %h1#header
      %span
        - if action_name == "index"
          = controller_name.titleize
        - else
          = link_to self.send(:"admin_#{controller_name}_path") do
            = controller_name.titleize
          &raquo;
          - if action_name == "show"
            = instance_variable_get("@#{controller_name.singularize}").name
          - elsif action_name == "edit"
            = link_to self.send(:"admin_#{controller_name.singularize}_path", instance_variable_get("@#{controller_name.singularize}")) do
              = instance_variable_get("@#{controller_name.singularize}").name
            &raquo; Edit
          - else
            = action_name.titleize

    #sidebar
      = yield(:sidebar)
    #content
      = yield
    #footer
      %p CONFIDENTIAL BITCHES
